<h3>Create new template</h3>

<%= simple_form_for [@business, @emailtemplate] do |f| %>
<%= radio_button_tag 'template', 'New', false %>
<%= f.input :subjectline, label: "Heading", placeholder: 'Your feedback improves our service' %>
<%= f.input :content, label: "Message", placeholder: "Thank you for choosing us, Would you kindly take a moment to review us?", as: :text, input_html: { rows: 2 } %>

<h3>Feedback template</h3>
<%= radio_button_tag 'template', 'Feedback', false %>
<h5>Heading</h5>
<p>Sorry to hear that!</p>
<h5>Message</h5>
<p>Please leave your experience about it.</p>

<h3>Thank you template</h3>
<%= radio_button_tag 'template', 'Thank_you', false %>
<h5>Heading</h5>
<p>Thank you!</p>
<h5>Message</h5>
<p>It is great to hear that! Please leave us your feedback.</p>

<%= f.submit "Submit Template", class: "btn btn-primary" %>
<% end %>
