<div class="container mt-5">
  <h2>Welcome to Your Dashboard, <%= current_user.business.business_name %></h2>

  <!-- Combined Snapshot Section for Google and Yelp Reviews -->
  <div class="row mt-5">
    <!-- Google Reviews Snapshot -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 text-center">
        <div class="card-header">
          Google Reviews Snapshot
        </div>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Google-favicon-2015.png" alt="Google logo" class="mb-2" style="width: 45px;">
          <h5>Average Google Rating</h5>
          <% if @average_rating %>
            <div class="font-weight-bold">
              <%= @average_rating %> / 5
              <br>
              <% if @average_rating %>
              <% stars = (@average_rating * 2).round / 2.0 rescue nil %> <!-- Round to nearest half-star -->
              <% if stars %>
                <% full_stars = stars.floor %>
                <% half_star = (stars - full_stars).zero? ? nil : 1 %>
                <% empty_stars = 5 - full_stars - (half_star || 0) %>
                <% full_stars.times do %>
                  <i class="fas fa-star text-warning"></i>
                <% end %>
                <% if half_star %>
                  <i class="fas fa-star-half-alt text-warning"></i>
                <% end %>
                <% empty_stars.times do %>
                  <i class="far fa-star text-warning"></i>
                <% end %>
              <% else %>
                <p>No ratings available</p>
              <% end %>
              <% else %>
                <p>No ratings available</p>
              <% end %>
              <br>
              Based on <%= @google_reviews.size %> reviews
            </div>
          <% else %>
            <p>No ratings available</p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Yelp Reviews Snapshot -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 text-center">
        <div class="card-header">
          Yelp Reviews Snapshot
        </div>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <img src="https://besticon-demo.herokuapp.com/icon?url=yelp.com&size=80..120..200" alt="Yelp logo" class="mb-2" style="width: 50px;">
          <h5>Average Yelp Rating</h5>
          <% if @yelp_average_rating %>
            <div class="font-weight-bold">
              <strong><%= @yelp_average_rating %> / 5</strong>
              <br>
              <% stars = (@yelp_average_rating * 2).round / 2.0 %> <!-- Round to nearest half-star -->
              <% full_stars = stars.floor %>
              <% half_star = (stars - full_stars).zero? ? nil : 1 %>
              <% empty_stars = 5 - full_stars - half_star %>
              <% full_stars.times do %>
                <i class="fas fa-star text-warning"></i>
              <% end %>
              <% if half_star %>
                <i class="fas fa-star-half-alt text-warning"></i>
              <% end %>
              <% empty_stars.times do %>
                <i class="far fa-star text-warning"></i>
              <% end %>
              <br>
              Based on <%= @yelp_reviews.size %> reviews
            </div>
          <% else %>
            <p>No Yelp ratings available</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!-- Review Analytics Section -->
<div class="row mt-5 mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">Reviews Over Time</div>
      <div class="card-body">
        <%= line_chart @yelp_reviews_by_month, ytitle: "Rating", xtitle: "Month", library: { animation: { duration: 1000, easing: 'easeOutQuad' } } %>
      </div>
      <div class="card-footer">
        <%= link_to 'See More Analytics', analytics_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>


  <!-- Google Business Reviews Section -->
  <div class="row mt-5 mb-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Google Business Reviews
        </div>
        <ul class="list-group list-group-flush">
          <% if @google_reviews.present? %>
            <% @google_reviews.each do |review| %>
              <li class="list-group-item">
                <h5 class="card-title">Review by: <%= review["author_name"] %></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <!-- Star Icons for Rating -->
                  <% 5.times do |i| %>
                    <% if i < review["rating"].to_i %>
                      <i class="fas fa-star text-warning"></i>
                    <% else %>
                      <i class="far fa-star text-warning"></i>
                    <% end %>
                  <% end %>
                  <%= review["rating"] %> / 5
                </h6>
                <p class="card-text"><%= review["text"] %></p>
                <footer class="blockquote-footer">
                  Reviewed on <%= Time.at(review["time"]).strftime("%B %d, %Y") %>
                </footer>
              </li>
            <% end %>
          <% else %>
            <li class="list-group-item">No reviews found.</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Yelp Business Reviews Section -->
  <div class="row mt-5 mb-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Yelp Business Reviews
        </div>
        <ul class="list-group list-group-flush">
          <% if @yelp_reviews.present? %>
            <% @yelp_reviews.each do |review| %>
              <li class="list-group-item">
                <h5 class="card-title">Review by: <%= review["user"]["name"] %></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <!-- Star Icons for Rating -->
                  <% 5.times do |i| %>
                    <% if i < review["rating"].to_i %>
                      <i class="fas fa-star text-warning"></i>
                    <% else %>
                      <i class="far fa-star text-warning"></i>
                    <% end %>
                  <% end %>
                  <%= review["rating"] %> / 5
                </h6>
                <p class="card-text"><%= review["text"] %></p>
                <footer class="blockquote-footer">
                  Reviewed on <%= Date.parse(review["time_created"]).strftime("%B %d, %Y") %>
                </footer>
              </li>
            <% end %>
          <% else %>
            <li class="list-group-item">No Yelp reviews found.</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Campaigns Section -->
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Campaigns</div>
        <div class="card-body">
          <p>Total Campaigns: <%= @campaigns.count %></p>
          <%= link_to 'Create Campaign', new_business_campaign_path(@business), class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>

  <!-- Email Templates Section -->
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Email Templates</div>
        <div class="card-body">
          <p>Total Email Templates: <%= @email_templates.count %></p>
          <%= link_to 'Create Email Template', new_business_emailtemplate_path(@business), class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>
