<h1>Create a campaign</h1>

<%= simple_form_for [@business, @campaign] do |f| %>
  <%= f.input :name %>
  <%= f.input :name, label: "Send to Contacts", as: :select, collection: ['Sally','John'], include_blank: false %>
  <%= link_to "Choose template", new_business_emailtemplate_path, class: "btn btn-primary"%>
  <%= f.submit "Submit campaign", class: "btn btn-primary" %>
<% end %>
